.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 20px;
  height: 25px;
}

.logo__img img {
  max-width: 100%;
}

.logo-title {
  font-family: 'Fugaz One', cursive;
  font-size: 13px;
  margin-left: 2px;
}