/* font-family: 'Epilogue', sans-serif;
font-family: 'Fugaz One', cursive; */
:root {
  --color-white: #f5f5f5;
  --color-primary: #393e46;
  --color-accent: #4f8a8b;
  --background-primary: #b1b493;
  --border-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
}

body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 20px 80px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--color-primary);
}